@import '/styles/variables.scss';

.Block {
	margin-bottom: 20px;

	@media (min-width: $media-tablet-landscape) {
		margin-bottom: 30px;
	}
}

.Button {
	display: flex;
	justify-content: center;
	margin: 0 auto;

	@media (min-width: $media-tablet-landscape) {
		margin: 0 auto;
	}
}
