@import '/styles/variables.scss';

.Wrapper {
	display: block;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	background: $color-bg;
	width: 30px;
	height: 30px;
	border-radius: 100px;
	margin-right: 20px;
	transition: $transition;

	&:hover {
		stroke: $color-bg;
		background: #a0877d;
	}

	&:last-child {
		margin: 0;
	}
}

.Link {
	line-height: 0;
}
