@import '/styles/variables.scss';

.Title_main {
	font-family: $font-decorative-family;
	color: $color-text;
	text-transform: uppercase;
	text-align: center;
	font-weight: 300;
	font-size: 30px;
	line-height: calc(36 / 30);

	@media (min-width: $media-tablet) {
		font-size: 45px;
		line-height: calc(54 / 45);
	}
}

.Title_page {
	position: relative;
	z-index: 1;
	font-family: $font-decorative-family;
	color: $color-text;
	text-transform: uppercase;
	text-align: center;
	font-weight: 300;
	font-size: 26px;
	line-height: calc(31 / 26);

	@media (min-width: $media-tablet) {
		font-size: 30px;
		line-height: calc(36 / 30);
	}

	@media (min-width: $media-tablet-landscape) {
		font-size: 40px;
		line-height: calc(48 / 40);
	}

	&::after {
		content: '';
		display: block;
		border-bottom: 1px solid $color-pink;
		width: 190px;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}
}

.Title_sub {
	margin-bottom: -40px;
	text-align: center;
	display: block;
	text-transform: none;
	font-family: 'AlexBrush', serif;
	font-size: 60px;
	font-weight: 400;
	line-height: calc(72 / 60);
	color: rgba($color-pink, 0.3);
	pointer-events: none;
	user-select: none;
}
