@import '/styles//variables.scss';

.Item {
	display: flex;
	justify-content: space-between;
	text-align: start;

	border-bottom: 1px solid rgba(214, 109, 117, 0.3);
	padding: 15px 0 2px 0;

	@media (min-width: $media-tablet) {
		padding: 10px 0 2px 0;
	}
}
