@import '/styles/variables.scss';

.Item {
	display: flex;
	flex-direction: column;
	padding: 20px 0 10px 0;

	&:not(:last-child) {
		border-bottom: 1px solid $color-pink;
	}

	&:first-child {
		padding: 0 0 10px 0;
	}
}

.Button {
	position: relative;
	display: flex;
	text-align: start;
	background: transparent;
	outline: none;
	cursor: pointer;
	transition: $transition;
	font-family: $font-decorative-family;
	font-size: 20px;
	line-height: calc(25 / 20);
	padding-right: 20px;

	@media (min-width: $media-tablet-landscape) {
		font-size: 22px;
		line-height: calc(27 / 22);
	}

	&::before {
		position: absolute;
		content: '';
		width: 20px;
		height: 1px;
		background: $color-text;
		top: 10px;
		right: 0;
	}

	&::after {
		position: absolute;
		content: '';
		width: 20px;
		height: 1px;
		background: $color-text;
		top: 10px;
		right: 0;
		transition: $transition;
		transform: rotate(90deg);
	}

	&:hover,
	&:focus {
		color: $color-pink;
	}

	&_active {
		&::after {
			transform: rotate(0);
		}
	}
}

.Content {
	overflow: hidden;
	padding: 10px 0;
	transition: max-height $transition, padding $transition;
}
