@import '/styles/variables.scss';

.Block {
	background-color: $color-text;
}

.Content {
	display: flex;
	flex-direction: column;
	padding: 0 20px 40px 20px;
	margin: 0 auto;
	max-width: 1020px;

	@media (min-width: $media-tablet) {
		padding: 0 40px 60px 40px;
	}
	@media (min-width: $media-tablet-landscape) {
		padding: 75px 60px 45px 60px;
	}
}

.Title {
	color: $color-bg;
}

.Wrapper {
	display: contents;

	@media (min-width: $media-tablet-landscape) {
		display: flex;
	}
}
