@import '/styles/variables.scss';

.Item {
	padding: 15px 10px;
	background: $color-powder;

	&:not(:last-child) {
		margin-bottom: 20px;
	}

	@media (min-width: $media-tablet) {
		display: flex;
		padding: 15px 30px;
	}
}

.List {
	display: flex;
	flex-direction: row;
	margin: 5px 0 10px 0;

	@media (min-width: $media-tablet) {
		margin: 5px 40px 0 0;
	}
}

.Title {
	line-height: calc(25 / 16);
	font-weight: 700;

	@media (min-width: $media-tablet) {
		font-size: 18px;
		line-height: clac(25 / 18);
	}
}
