@import '/styles/variables';

html,
body {
	padding: 0;
	margin: 0;
	background-color: $color-bg;
	color: $color-text;
	font-family: $font-base-family;
	font-size: $font-base-size;
	height: 100%;
	margin: 0;
	min-height: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	scroll-behavior: smooth;
}

h1,
h2,
h3,
p {
	padding: 0;
	margin: 0;
}

p,
span {
	font-size: $font-base-size;
	line-height: calc(21 / 16);
	font-weight: 300;
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	border: none;
	padding: 0;
}

ul,
li {
	list-style: none;
	padding: 0;
	margin: 0;
}

blockquote {
	margin: 0;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

.dropdown-animation-enter {
	max-height: 0;
}

.dropdown-animation-enter-active {
	height: auto;
	max-height: 190px;
	transition: $transition;
}

.dropdown-animation-exit {
	height: auto;
	max-height: 190px;
}

.dropdown-animation-exit-active {
	max-height: 0;
	transition: margin $transition;
}
